/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 10px;
	background-image: url(../img/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: 20% 80%;
}

.content
{
	width: 50%;
	margin: 8% 25% 8% 25%;
	float:left;
	border: 1px solid #A88043;
}

.item
{
	width: 29%;
	float: left;
	margin:  2%;
	position: relative;
}

.image
{
	width: 100%;
}

.image img
{
	width: 100%;
}

.specialOffer
{
	position:relative;
	right:0px;
	top:0px;
}

.specialOffer img
{
	z-index: 1000;
	position: absolute;
	top: -20px;
	left: -25px;
	width: 35%;
}

div.text 
{
    text-align: center;
    font-size: 1.5vw;
	color: #A88043;
}





.topMenu
{
	width: 15%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	top:10%;

}

.topMenu li
{
	width: 100%;
	float: left;
	color: #A88043;
	text-align: center;
	margin: 10% 0;
}


.topMenu li a
{
	color: #A88043;
	font-size: 20px;
	text-decoration:none;
}

.topMenu li div
{

	display: none;
}

.topMenu li:hover div
{
	display: block;
}

@media screen and (max-width: 1024px)   {
    
    .content
    {
    	width: 70%;
    	margin-left: 15%;
    	margin-right: 15%;
    }
    
    .item
    {
    	width: 46%;
    }
    
    body,
	html
	{
		font-size: 14px;
	}
	
	.item .text
	{
		font-size: 3vw;
	}
	
	.specialOffer img
    {
	top: -20px;
    left: -20px;
    }
}


@media screen and (max-width: 640px)   {
    
    .content
    {
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
    
    .item
    {
    	width: 96%;
    }
    
    .item .text
	{
		font-size: 5vw;
	}
	
	.specialOffer img
    {
	top: -30px;
    left: -30px;
    }
}
