body,
html
{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	
	background-image: url("../bg1.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 80%;
}

.item
{
	width: 23%;
	float: left;
	margin:  1%;
	position: relative;
	overflow: hidden;
	font-size: 1.5rem;
}

.image
{
	width: 100%;
}

.image img
{
	width: 100%;
}

.item .name
{
	font-size: 2vw;
}

.content
{
	width: 60%;
	background-color: pink;
	margin: 0px 20% 0px 20%;
	float:left;
	height: 3000px;
}


.topOffer
{
	position:absolute;
	right:0px;
	top:0px;
}

.topOffer img
{
	z-index: 600;
	position: relative;
}

.whitePromo {
    background-color: #be0b0b;
    color: #fff;
    font-family: "Monotype Corsiva";
    font-size: 20px;
    font-weight: bold;
    padding-top: 21px;
    position: absolute;
    right: -32px;
    text-align: center;
    top: -11px;
    transform: rotate(40deg);
    width: 70%;
    z-index: 500;
}

.fixedImage
{
	position:fixed;
	bottom: 0px;
	right: 0px;
}



@media screen and (max-width: 1024px) {
    
    .content {
		    margin: 0 10%;
		    width: 80%;
		}
    
    .item
    {
    	width: 48%;
    }
    
    
	.item .name
	{
		font-size: 3vw;
	}
}

@media screen and (max-width: 640px) {
    
    .content {
		    margin: 0 5%;
		    width: 90%;
		}
    
    .item
    {
    	width: 98%;
    }
    
    .item .name
	{
		font-size: 5vw;
		color:#4979D6;
	}
}




@media screen and (max-width: 320px) {
    
    .content {
		    margin: 0 5%;
		    width: 90%;
		}
    
    .item
    {
    	display:none;
    }
    
    .content:before
    {
    	display: block;
    	content: "Buy a new phone";
    	width: 100%;
    	margin-top: 20px;
    	text-align: center;
    }
}


