/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.carouselImage
{
	width: 100%;
}

.topLine
{
	width: 100%;
	position:absolute;
	background-color: rgba(119,91,163,0.6);
	float: left;
}

.mainContainer
{
	width: 65%;
	margin: 0px 17.5%;
}

.logo
{
	float: left;
	width: 21.367%;
	margin-top: 0.2%;
	margin-bottom: 1.05%;
}
.logo img
{
	width: 61%;
}

nav
{
	float: left;
	width: 57.266%;
}

.loginButtons
{
	float: left;
	width: 21.367%;
	box-sizing: border-box;
	margin-top: 1.4%;
}
.loginButtons div{
	float:left;
	margin-left:17.9%;
	
}

.topLine nav a {
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 1.1vw;
    padding: 3.9% 1%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    text-transform: uppercase;
    margin: 0px 1%;
}


nav a:hover
{
	border-bottom: 1px solid #f8e1b4;
}

section
{
	width: 100%;
	float: left;
	display: block;
	padding: 5% 0%;	
}

section.greenBottom
{
	border-bottom: 1px solid #91c5a9;
}

section.greyBack
{
	background-color: #fcfcfc;
}

section.purpleBack
{
	background-color: #775ba3;
}

section h2
{
	text-align: center;
	color: #775ba3;
	font-size: 2vw;
	margin-bottom: 2%;
}

section p
{
	font-size: 1.5vw;
	text-align: center;
	line-height: 150%;
}

.topColImage
{
	width: 100%;
	text-align: center;
	position: relative;
}

.topColImage img
{
	width: 57%;	
}


.columns
{
	float: left;
	width: 100%;
}

.columns .column
{
	float: left;
	width: 33.333333%;
	text-align: center;	
	font-size: 1vw;
	line-height: 150%;
	margin-bottom: 5%;
}

.topColImage img
{
	width: 27%;	
}



.column:nth-of-type(1) .topColImage:after,
.column:nth-of-type(2) .topColImage:after
{
	content: " ";
	width: 73%;
	position: absolute;
	height: 1px;
	top: 46%;
	border-bottom: 2px dashed #4b3f55;
}

.column span
{
	
	color: #91c5a9;
	font-size: 2.8vw;
}

.info{
	float: left;
	width: 30%;
	text-align: center;	
	font-size: 1vw;
	line-height: 150%;
	margin-left:2%;
}

.underline img{
	width:100%;
	border-bottom: 2px solid #91c5a9;
	overflow:hidden;
}



.green{
	border-bottom: 2px solid #91c5a9;
	color:#91c5a9;
	padding-bottom:2%;
	
}
.info_text{
	font-size: 0.75vw;
	line-height: 150%;
	text-align:left;
	margin-top:3%;
	margin-bottom:3%;
}
}
.buttons{
	float:left;
	width:100%;
	width:10%
}
.facebook{
	float:left;
	width:50%;
	background-color:#3b5998;
}


.google{
	float:left;
	width:50%;
	background-color:#d14333;
}

.world{
	float:left;
	width:50%;
	background-color:#ea4c88;
}

.twitter{
	float:left;
	width:50%;
	background-color:#00aced;
}

.youtube{
	float:left;
	width:50%;
	background-color:#c70c0c;
}
@media screen and (max-width: 640px)
{
	.column:nth-of-type(1) .topColImage:after,
	.column:nth-of-type(2) .topColImage:after
	{
		display:none;	
	}
	
	.columns .column
	{
		width: 100%;
		font-size: 3vw;
	}
	section h2
	{
		font-size: 5vw;
	}
	
	section p
	{
		font-size: 3vw;
	}
}
