/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* topline */
.carouselImage
{
	width: 100%;
}

.topLine
{
	width: 100%;
	position:absolute;
	background-color: rgba(119,91,163,0.6);
	float: left;
}

.mainContainer
{
	width: 65%;
	margin: 0px 17.5%;
}

.logo
{
	float: left;
	width: 21.367%;
	margin-top: 0.2%;
	margin-bottom: 1.05%;
}

.logo img
{
	width: 61%;
}


nav
{
	float: left;
	width: 57.266%;
}

.topLine nav a 
{
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 1.1vw;
    padding: 4.2% 1%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    text-transform: uppercase;
    margin: 0px 1%;
}

nav a:hover
{
	border-bottom: 1px solid #f8e1b4;
}

.loginButtons
{
	float: left;
	width: 21.367%;
}

.loginButtons img
{
	width: 7%;
	margin: 10.5%;
	margin-left: 12%;
}

/* sections */
section
{
	width: 100%;
	float: left;
	display: block;
	padding: 5% 0%;	
}

section.greenBottom
{
	border-bottom: 1px solid #91c5a9;
}

section.greyBack
{
	background-color: #fcfcfc;
}

section.purpleBack
{
	background-color: #775ba3;
}

section h2
{
	text-align: center;
	color: #775ba3;
	font-size: 2vw;
	font-weight: bold;
	margin-bottom: 2%;
}

section p
{
	font-size: 1.5vw;
	text-align: center;
	line-height: 150%;
}

/* section 2 */
.topColImage
{
	width: 100%;
	text-align: center;
	position: relative;
}

.topColImage img
{
	width: 57%;	
}


.columns
{
	float: left;
	width: 100%;
}

.columns .column
{
	float: left;
	width: 31.333333%;
	text-align: center;	
	font-size: 1vw;
	line-height: 150%;
	margin: 1%;
	margin-bottom: 5%;
}

.topColImage img
{
	width: 27%;	
}



.column:nth-of-type(1) .topColImage:after,
.column:nth-of-type(2) .topColImage:after
{
	content: " ";
	width: 80%;
	position: absolute;
	height: 1px;
	top: 46%;
	border-bottom: 3px dashed #4b3f55;
}

.column span
{
	
	color: #91c5a9;
	font-size: 2.8vw;
}

/* section 3 */
.imgFameous 
{
	float: left;
	width: 100%;
}

.imgFameous img
{
	width: 100%;
	border-bottom: 3px solid #91c5a9;
}


#section3 .columns .column h4
{
	
	text-transform: uppercase;
	font-size: 100%;
	padding:2%;
	margin:3%;
	border-bottom: 4px solid #91c5a9;
	color: #91c5a9;
}
#section3 .columns .column p.text
{
	width: 90%;
	height: 80px; /* !!! */
	font-size: 90%;
	margin: 5%;
}


div.buttons
{
	width:100%;
    float: left;
    
}

div.buttons button
{
	border: none;
	float: left;
	width: 50%;
	height: 60px; /* !!! */
}

div.buttons button.facebook
{
	background-color: #3b5998;
}
div.buttons button.googlePlus
{
	background-color: #d14333;
}
div.buttons button.anotherMedia
{
	background-color: #ea4c88;
}
div.buttons button.twitter
{
	background-color: #00aced;
}
div.buttons button.youTube
{
	background-color: #c70c0c;
}


/* responsive */

@media screen and (max-width: 640px)
{
	
	.loginButtons
	{
		width: 21.367%;
	}

	.loginButtons img
	{
		width: 12%;
		margin: 4%;
		margin-top:8%;
		padding-left:8%;

	}
	
	
	
	.column:nth-of-type(1) .topColImage:after,
	.column:nth-of-type(2) .topColImage:after
	{
		display:none;	
	}
	
	.columns .column
	{
		width: 100%;
		font-size: 3vw;
	}
	section h2
	{
		font-size: 5vw;
	}
	
	section p
	{
		font-size: 3vw;
	}
}
