body 
{
    background-color: lightblue;
}

h1
{
	width: 40%;
	margin-left: 30%;
	margin-left: 30%;
	text-align: center;
}


p.inputs
{
	width: 60%;
	margin: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

input.izbrani
{
	width: 15%;
}


p.outputs
{
	float: left;
	width: 60%;
	margin: 5%;
	margin-left: 20%;
	margin-right: 20%;
}

img#lotteryBalls
{
	float: right;
	width: 20%;
}

div.izbrani
{
	float: left;
	width: 15%;
}

div.brGuessed
{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}

