body 
{
  /*margin: 0;
  padding: 0;
  border: 0;*/
  background: #aedfe5 url("../img/sky-background1.png") 0 0 repeat-x;
}

/*img 
{
  max-width: 100%;
  height: auto;
}*/

/*#background
{
	width: 100%;
    height: 100%;
}*/
.stage 
{
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 100;
	
	/*height: 80%;*/
}


#far-clouds 
{
    background: transparent url("../img/far-clouds.png") 0 6% repeat-x;
}
#near-clouds 
{
    background: transparent url("../img/near-clouds.png") 0 15% repeat-x;
}
#ground 
{
	background: transparent url("../img/grass3.png") 0px 100% repeat-x;
	bottom: 0;
}

.hero
{
	position: absolute;
	z-index: 200;
}


@media screen and (max-width: 1024px) 
{
	#far-clouds 
	{
		background: transparent url("../img/mini-far-clouds.png") 0 5% repeat-x;
	}
    #near-clouds 
	{
		background: transparent url("../img/mini-near-clouds.png") 0 13% repeat-x;
	}
	#ground
	{
		height: 25%;
		background-size: cover;  /*  ...  */
	}

}

@media screen and (max-width: 640px) 
{   
	/*  on rotation?  */
	#near-clouds 
	{
		display: none;
	}
	#ground
	{
		height: 20%;
		background-size: cover; /*  sucks in landscape view  */
	}
}

/*  how to change the properties when the device rotats?  */