/*
div#heroes
{
	position: absolute;
	z-index: 200;    !!!  
	width: 90%;
	height: 35%;
	bottom: 5%;
	left: 5%;
	float: left;
}*/

#content
{
	/*makes the page unscrollable*/
	overflow:auto; 
	position:absolute; 
	top: 0px; 
	left:0px; 
	right:0px; 
	bottom:0px;
	
	position: fixed;
	z-index: 200; 
	width: 100%;
	height: 100%; /**/
	float: left;
}
.hero
{
	position: absolute;
	width: 48%; /**/
	height: 40%;/**/
	bottom: 0%;/**/
	
	display: inline;
	/*float:left;*/
}
.hero:nth-of-type(1)
{
	left: 2%;
}
.hero:nth-of-type(2)
{
	right: 2%;
} 
.hero img
{
	position: absolute;
	width: 25%;
	z-index: 500;
	top: 0%;
}
.hero:nth-of-type(1) img 
{
	left: 0;
}
.hero:nth-of-type(2) img
{
	right: 0;
}

/**/

.actions
{
	position: absolute;
	width: 48%;
	height: 60%; /**/
	top: 0%; /**/
	
	display: inline;
	/*float: left;*/
}
.actions:nth-of-type(1)
{
	left: 2%;
}
.actions:nth-of-type(2)
{
	right: 2%;
} 
.actions img
{
	position: absolute;
	width: 10%;
	z-index: 600;
	bottom: 0%;
}
.actions:nth-of-type(1) img 
{
	left: 0;
}
.actions:nth-of-type(2) img
{
	right: 0;
}

/**/
.actions img:nth-of-type(1)
{
	margin-left: 0%;
	margin-right: 20%;
}
.actions img:nth-of-type(2)
{
	margin-left: 10%; 
	margin-right: 10%;
}
.actions img:nth-of-type(3)
{
	margin-left: 20%; 
	margin-right: 0%;
}



@media screen and (max-width: 1024px) 
{
	div#heroes
	{
		height: 26%;
	}
	div#heroes .hero img
	{
		width: 60%;
		height: auto;
	}

}@media screen and (max-width: 1024px) and (orientation : landscape)
{
	div#heroes
	{
		height: 37%;
	}
	div#heroes .hero img
	{
		width: 30%;
	}
	
}
@media screen and (max-width: 640px) 
{
	div#heroes
	{
		height: 24%;
	}
	div#heroes .hero img
	{
		width: 70%;
		height: auto;
		
	}
	
	
}@media screen and (max-width: 640px) and (orientation : landscape)
{
	div#heroes
	{
		height: 45%;
	}
	div#heroes .hero img
	{
		width: 50%;
	}
	
}
@media screen and (max-width: 480px)  and (orientation : landscape) /*320*/
{
    div#heroes
	{
		height: 40%;
	}
	div#heroes .actions
	{
		height: 20%;
	}
	div#heroes .actions img
	{
		width: 10%;
	}
}
