h1
{
	display: block;
	width: 30%;
	float: left;
	margin-left: 35%;
	text-align: center;
}
form
{
	display: block;
	width: 30%;
	float: left;
	margin-left: 35%;
}
label
{
	display: block;
	width: 100%;
	float: left;
	margin: 10px 0px;
}
label input,
label select
{
	display: block;
	width: 70%;
	float: left;
	border-radius: 2px;
	font-size: 18px;
	border: 1px solid #0000FF;
}
label span
{
	display: block;
	width: 30%;
	float: left;
}
#logButton{
	width:100%;
}
#regButton{
	width:100%;
}






html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */

.mainContainer
{
	width: 65%;
}
#topLine
{
	width: 100%;
	position: absolute;
	background-color: #0099CC;
	opacity: 0.3;
	float: left;
}
nav
{
	float: left;
	width: 57.266%;
}
#topLine nav a 
{
    box-sizing: border-box;
    color: #fff;
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 1.1vw;
    padding: 4.2% 1%;
    text-decoration: none;
    text-shadow: 1px 1px 1px #444;
    text-transform: uppercase;
    margin: 0px 1%;
	z-index: 300;
}
nav a:hover
{
	border-bottom: 1px solid #f8e1b4;
}

.heroes
{
	position: absolute;
	z-index: 200;
}
.heroes:first-of-type 
{

}
.heroes:last-of-type
{
	
}



@media screen and (max-width: 1024px) 
{
    #topLine
}

@media screen and (max-width: 640px) 
{
    
}

@media screen and (max-width: 320px) 
{
	
    div
    {
    	display:none;
    }
    
}