
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */


#topLine
{
	width: 100%;
	position: absolute;
	background-color: #0099CC;
	opacity: 0.5;
	float: left;
	z-index: 500;
}
#topLine nav
{
	float: left;
	width: 100%;
}
#topLine nav input
{
	float: left;
	width: 13%;
	margin: 0.3%;
	margin-left: 5%;
	margin-bottom: 0%;
	text-decoration: none;
    text-transform: uppercase;
	font-size: 1.5vw;
	text-align: center;
	font-family: Verdana;
	background-color: #0099CC;
	border: 0;
	border-radius: 0.1em;
}

div#winner
{
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 500;

	font-size: 6vw;
	text-align: center;
	font-family: "Times New Roman", Times, serif; /* to si e default */

	visibility: hidden;
}


@media screen and (max-width: 1024px)
{
	#topLine nav input
	{
		width: 30%;
		margin: 1%;
		margin-left: 2.2%;
		margin-bottom: 0%;
		font-size: 2.5vw; 
	}
}@media screen and (max-width: 1024px) and (orientation : landscape)
{
	#topLine nav input
	{
		width: 15%;
		margin: 0.5%;
		margin-left: 5%;
		margin-bottom: 0%;
		font-size: 2vw;
	}
}

@media screen and (max-width: 820px)
{
	#topLine nav input
	{
		width: 25%;
		font-size: 3vw;
	}
}

@media screen and (max-width: 640px)
{
	#topLine nav input
	{
		width: 45.8%; /* bigger cannot fit */
		font-size: 5vw;
		margin-top: 1.4%;
	}
}@media screen and (max-width: 640px) and (orientation : landscape)
{
	#topLine nav input
	{
		width: 25%;
		font-size: 3vw;
		margin-top: 1%;
	}
}


/*@media screen and (max-width: 320px) and (orientation : portrait)
{
    div
    {
    	display:none;
    }
}
*/