
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */


#topLine
{
	width: 100%;
	position: absolute;
	background-color: #0099CC;
	opacity: 0.5;
	float: left;
	z-index: 500;
}
#topLine nav
{
	float: left;
	width: 100%;
}
#topLine nav input
{
	float: left;
	width: 10%;
	margin: 0.3%;
	margin-left: 1.5%;
	margin-bottom: 0%;
	text-decoration: none;
    text-transform: uppercase;
	font-size: 1vw;
	text-align: center;
	font-family: Verdana;
	background-color: #0099CC;
	border: 2px solid #0099CC;
	
}
#topLine nav input:hover
{
	border-bottom: 2px solid #75c1dd; 
}

.content
{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*  the heroes aren't where they should be  */

@media screen and (max-width: 1024px)
{
	#topLine nav input
	{
		width: 20%;
		margin: 1%;
		font-size: 2vw;
	}
	#topLine nav input:hover
	{
		border-bottom: none;
		background: #5eb5d9;
		border-radius: 8px;		
	}
}@media screen and (max-width: 1024px) and (orientation : landscape)
{
	#topLine nav input
	{
		margin: 0.3%;
		font-size: 1.5vw;
		
	}
}

@media screen and (max-width: 640px)
{
	
	#topLine nav input
	{
		width: 33%;
		margin-left: 0.1%;
		margin-right: 0.1%;
		font-size: 3.7vw;
	}
}@media screen and (max-width: 640px) and (orientation : landscape)
{
	#topLine nav input
	{
		font-size: 2.5vw;
	}
}

@media screen and (max-width: 320px) 
{
    div
    {
    	display:none;
    }
}